<div class="span4 pull-right sideNote">
	<p>Learning & Capacity Discovery <i class="icon-plus-sign" /></p>
	<div class="note" ng-repeat="note in notes">
		<div class="pull-left thumbs">
			<img src="{{note.imgUrl}}"/>
			<p class="time">{{note.timeStamp}}</p>
		</div>
		<div class="pull-right noteText">
			<p>{{note.notes}}</p>
			<span class="noteIcons"><i class="icon-edit"/><i class="icon-remove-circle"/></span>
		</div>
	</div>
</div>
<div class="span8 teamOut">
<h3>Team Capacity</h3>
<p>Investigate your team Capacity see how you make things happen.</p>
	<div class="span12 team">
		<div class="span6 team-progress">
			<p>Team progress<i class="icon-camera" /></p>
			<div class="bars"></div>
			<div class="summary">
				<ul>
					<li>Change to pack bar chart</li>
					<li>info</li>
					<li>info</li>
				</ul>
			</div>
		</div>
		<div class="span6 money">
			<p>Group Goal<i class="icon-camera"/></p>
			<div class="donut"></div>
			<div class="summary">
				<ul>
					<li>info</li>
					<li>info</li>
					<li>info</li>
				</ul>
			</div>
		</div>
	</div>

	<div class="span6 teamMember" ng-repeat="member in members">
		<div class="memberImg">
		<img src=""/>
		<h3 class="name">{{member.name}}
			<small class="position">{{member.position}}</small>
		</h3>
		</div>
		<div class="memberQuality">
			<p><b>Professional Ability</b></p>
			<p>{{member.Profession}}</p>
		</div>
		<div class="memberQuality">
			<p><b>Takit Knowledge</b></p>
			<p>{{member.TakitKnowhow}}</p>
		</div>
		<div class="memberQuality">
			<p><b>Personal Goal</b></p>
			<p>{{member.personGoal}}</p>
		</div>
	</div>
</div>


</div>
<script src="_/js/charts.js"></script>