<div class="span4 pull-right sideNote">
	<p>Resources / Activities Discovery <i class="icon-plus-sign"/></p>
	<div class="note" ng-repeat="note in notes">
		<div class="pull-left thumbs">
			<img src="{{note.imgUrl}}"/>
			<p class="time">{{note.timeStamp}}</p>
		</div>
		<div class="pull-right noteText">
			<p>{{note.notes}}</p>
			<span class="noteIcons"><i class="icon-edit"/><i class="icon-remove-circle"/></span>
		</div>
	</div>
</div>

<div class="span8 teamOut">
<h3>Network Resource & Activities </h3>
<p>Investigate your resource dependency and social network.</p>
		<div class="span12 team">
			<div class="chart">
			<p>Network Resource<i class="icon-camera" /></p>

			</div>

			<div class="chartInfo">
				<h3>Content Info</h3>
				<div class="infoText">
				</div>
			</div>
		</div>
	<h3>Your resource network <i class="icon-plus-sign"/> </h3>
	<div class="span12 resourcePpl" ng-repeat="people in resources">
		<img class="pull-left PplImg" src="img/unfoundB.gif"/>
		<div class="pull-left resourcePplInfo">
			<h3 class="name">{{people.Name}}
				<small class="position">Special position: {{people.InCharge}}</small></h3>
			<p><b>Profile </b> {{people.Profile}}</p>
			<p><b>Already Supported </b>{{people.Supported}} / 
			   <b>Expected involvement </b> {{people.ExpectSupport}} </p>
			<p><b>Recent Activities / conversations </b></p>
			<p>{{people.RecentActivities}}</p>
			</div>
		<span class="editIcons"><i class="icon-edit"/>
			<i class="icon-remove-circle"/></span>
	</div>
</div>
</div>


</div>
<script src="script/charts.js"></script>